---
import { Image } from "astro:assets";

interface Props {
  title: string;
  description: string;
  image: string;
  href: string;
}

const { href, title, description, image } = Astro.props;
---

<li
  class="bg-black/90 flex flex-col relative text-white list-none overflow-clip first:col-span-2 rounded-md"
>
  <a href={href}>
    <div class="h-72 w-full rounded-md">
      <Image
        src={image}
        class={"h-full object-cover"}
        loading={"eager"}
        alt={""}
        inferSize={true}
      />
    </div>
    <div class="absolute left-0 p-2 w-fit bottom-0">
      <div class="rounded-lg bg-black/40 p-3 backdrop-blur-sm">
        <h2 class="text-xl">
          {title}
        </h2>
        <h4 class="text-base">
          {"- "}{description}
        </h4>
      </div>
    </div>
  </a>
</li>
