---
import type { BlogCollectionType } from "$/config";
import { Image } from "astro:assets";
import Layout from "#/Layout.astro";
import { getCollection } from "astro:content";
const allBlogPosts = await getCollection("blogs");
const post: BlogCollectionType[] = allBlogPosts.map((post) => post.data);
---

<Layout title="Blogs">
  <main class="min-h-dvh px-10 w-full flex flex-col">
    <div class="flex flex-col w-full max-w-[900px] mx-auto gap-4 mt-36">
      <h1 class="text-3xl font-black">Blogspage</h1>
      <div class="grid sm:grid-cols-2 grid-cols-1 gap-4 my-10">
        {
          post.map((blog) => {
            return (
              <a
                href={`/blogs/${blog.title}`}
                class="flex flex-col justify-end relative min-h-80 gap-1 overflow-clip border rounded-lg "
              >
                <Image
                  class="h-full w-full absolute top-0 left-0 right-0 bottom-0 z-10 object-cover rounded-md"
                  src={blog.image}
                  alt={blog.title}
                  inferSize
                  loading={"lazy"}
                />
                <div class="z-40 p-4 bg-gradient-to-t from-black/90 to-black/50 text-white self-baseline">
                  <h1 class="text-xl font-semibold">{blog.title}</h1>
                  <h1 class="text-base">{blog.description}</h1>
                </div>
              </a>
            );
          })
        }
      </div>
    </div>
  </main>
</Layout>
